<nz-table #basicTable [nzData]="typhoons$ | async" [nzLoading]='loading$ | async'>
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Basin</th>
        <th>Birth</th>
        <th>Death</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><a [routerLink]="['/typhoon', data.number]">{{data.number}}</a></td>
        <td>{{data.name}}</td>
        <td>{{data.basin}}</td>
        <td>{{data.birth_date}}</td>
        <td>{{data.death_date}}</td>
      </tr>
    </tbody>
  </nz-table>